
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card-title {
  font-size: 1.2rem;
}
.card-img-top {
  max-width: 80px;
  margin: auto;
}
.card-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.refresh-button {
  margin-top: 20px;
}
.group-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}
.cups-group {
  border-top: 1px solid #dee2e6;
  padding-top: 20px;
  margin-top: 30px;
}


.dashboard-container {
  position: relative;
  overflow: hidden;
}
.robot {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('./static/images/robot.png');
  background-size: cover;
  border-radius: 50%;
  animation: moveRobot 20s infinite linear;
}
@keyframes moveRobot {
  0% {
      left: 0;
      top: 0;
  }
  25% {
      left: calc(100% - 80px);
      top: 0;
  }
  50% {
      left: calc(100% - 80px);
      top: calc(100% - 80px);
  }
  75% {
      left: 0;
      top: calc(100% - 80px);
  }
  100% {
      left: 0;
      top: 0;
  }
}


  /* Border for the path of the robot */
  .path-border {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px dashed #007bff; /* Border color for the path */
  top: 2px;
  left: 2px;
  border-radius: 10px; /* Rounded corners for the border */
}


/* videooooooo */

.video-feed-container {
  margin-top: 30px;
  text-align: center;
}

.video-feed {
  width: 640px;
  height: 480px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}